<h1>EAT LE BURGER</h1>

<h2>"Please, eat le burger mon amie!"</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <br>
        <button class="devourBurger btn btn-primary btn-sm border border-dark" data-id="{{id}}" data-devoured="{{devoured}}">
          {{#if devoured}}Regurgitate!!{{else}}Eat It{{/if}}
        </button>
        <button class="deleteBurger btn btn-danger btn-sm border border-dark" data-id="{{id}}">
          X
        </button>
      </li>

    {{/unless}}
  {{/each}}
</ul>

<h2>"Oh non monsieur/madam! Are you alright?!"</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
        <br>
        <button class="devourBurger btn btn-primary btn-sm border border-dark" data-id="{{id}}" data-devoured="{{devoured}}">
          {{#if devoured}}Regurgitate!!{{else}}Eat It{{/if}}
        </button>
        <button class="deleteBurger btn btn-danger btn-sm border border-dark" data-id="{{id}}">
          X
        </button>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="bName">Burger Name:</label>
    <input type="text" id="bName" name="name">
  </div>

  <button type="submit" class="btn btn-success btn-lg border border-dark">Add Burger</button><br><br>

</form>